@keyframes flipCard {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(180deg);
        /*top: 0;*/
        /*left:0;*/
        /*right:0;*/
        /*margin: 0 auto;*/
        /*position: absolute;*/
    }
}

.is-flipped {
    position: relative;
    transform-style: preserve-3d;
    /*animation: flipCard 4s ease-in;*/
    /*transform: rotateY(180deg);*/
}

.card-wrapper {
    /*width: 100px;*/
    /*height: 150px;*/
}

.card-front {
    /*position: absolute;*/
    backface-visibility: hidden;
}

.card-back {
    /*transform: rotateY(180deg);*/
}
