.card {
    display: flex;
    position: relative;
    flex-direction: column;
    min-height:400px;
    padding: 1.5rem;
    margin: 0rem;
    border-radius: 16px;
    background: white;
    box-shadow: 12px 12px 12px 12px rgba(0, 0, 0, .6);
    transition: .2s;
    width: 220px;
    z-index:2;
    margin-bottom: 2.1rem;
    margin-left: 1.5rem;
    margin-right: -2.5rem;
    align-content: center;
    overflow: hidden;
}

.card-text {
    background-color: white;
    margin-left: -1.75rem;
    position: relative;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    opacity: 0;
    width: 130%;
    padding: 2rem;
    border: #0a2342 3px solid;
}
.show {
    opacity: 1;
}

.card:hover {
    transform: translateY(-2rem);
    box-shadow: 18px 18px 18px 18px rgba(0, 0, 0, .4);
    z-index: 10;
}

.card:hover~.card {
    transform: translateX(100px);
}


.card:not(:first-child) {
    margin-left: -130px;
}

.card-summary {

}

.half-circle {
    width: 60px;
    height: 48px;
    fill: none;
    stroke-width: 8;
    stroke-linecap: round;
    display: block;
    border-radius: 50%;
    filter: grayscale(100%);
    margin: 16px 10px;
    position: absolute;
    top: 0;
    right:0;
}

.card-header {
    color: #000;
    /*-webkit-text-stroke: 2px #000;*/
    text-shadow: #FFF 1px 1px;
    font-size: 15px;
    margin: 0 auto;
    font: "Pathway Gothic One", sans-serif;
    text-transform: uppercase;
}

.card-header p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: ;
}



.simple-modal {
    position: fixed;
    z-index: 50;
    height: 100%;
    width: 100%;
    background: black;
    top: 0;
    left: 0;
}
.hw-card {
    margin: 0 auto;
    top:20vh;
    left:20%;
    right:20%;
    max-width:220px;
    max-height:220px;
    z-index: 51;
    position: fixed;
}