@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Roboto+Condensed:wght@300;700&display=swap');
body {
    font-family: 'Roboto Condensed', Calibri, Arial, sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    background: black;
    overflow-x: hidden;
}
.crawler {

}
.main-container {
    position: relative;
    z-index: 1;
    background: black;
}

.is-loading {
    z-index:-1
}

.btn {
    font-family: 'Koulen', 'Roboto Condensed';
    text-decoration: none;
    background-color: #000;
    border: #000 solid 2px;
    color: #fff;
    padding: 5px 24px;
    margin: 4px;
    font-size: 0.9rem;
}

.box-assine {
    background: rgba(255, 255, 255, 0.08);
    border-bottom: rgba(255, 255, 255, 0.08) solid 1px;
    border-top: rgba(0, 0, 0, 0.5) solid 1px;
    border-right: rgba(255, 255, 255, 0.08) solid 1px;
    border-left: rgba(0, 0, 0, 0.5) solid 1px;
    border-radius: 20px;
    margin-top: 30px;
    text-align: center;
}

.h1 {
    margin-top: 5rem;
    font-family: 'Koulen', 'Roboto Condensed';
    font-size: 2.2rem;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 1);
    line-height: 3.3rem;
}

.h2 {
    font-size: 3.5rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
    display: block;
}

.btn {
    font-family: 'Koulen', 'Roboto Condensed';
    text-decoration: none;
    background-color: #000;
    border: #000 solid 2px;
    color: #fff;
    padding: 5px 24px;
    margin: 4px;
    font-size: 0.9rem;
}