@keyframes crawl {
    0% {
        top: 0;
        transform: rotateX(20deg)  translateZ(0);
    }
    90% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
        opacity:100%;
    }
    91% {
        opacity:100%;
        top: 0;
        transform: rotateX(0) translateZ(0) scaleY(1);
    }
    100% {
        top:0;
        opacity:0;
        z-index: -1;
        transform: rotateX(0) translateZ(0) scaleY(0);
    }
}
.crawler {
    top:0;
    /*opacity:0;*/
    /*height:0;*/
    z-index: -1;
    position: absolute;
}
