@keyframes crawl {
    0% {
        top: -100px;
        transform: rotateX(20deg)  translateZ(0);
    }
    75% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
    80% {
        top: 0;
        transform: rotateX(0) translateZ(0);
    }
    81%{
        opacity: 0;
    }
    82% {
        top: 0;
        opacity:100%;
    }
    100% {
        top: -400px;
        opacity:0;
        transform: scale3d(1.5, 1.5, 1) translateY(5vh)
    }
}
.crawler {
    top:-30vh;
    /*opacity:1;*/
    position: absolute;
}
